//@font-face {
//  font-family: "Comfortaa", sans-serif;
//  src: url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Unbounded:wght@300&display=swap');
//  font-weight: normal;
//}

@font-face {
  font-family: "Unbounded", sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Russo+One&family=Unbounded:wght@300&display=swap');
  font-weight: normal;
}