.modal {
  background-color: white;
  width: 500px;
  height: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

//.modal {
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  background-color: #05283A;
//  width: 500px;
//  height: 500px;
//  margin: auto;
//  border-radius: 50%;
//  box-shadow: 0 0 40px 15px #D19BC8;
//  color: #D19BC8;
//}

