.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  background-color: #c2ccd1;
  width: 450px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 40px 20px;
  text-align: center;
}

.buttons_modal {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.button_game_over_back {
  width: 280px !important;
  margin-block-start: 0 !important;
}

.button_game_over_front {
  width: 275px !important;
  left: -2px !important;

}

.title {
  font-weight: 700;
  font-size: 40px;
  margin: 0;
}

.descriptions_block {
  text-align: center;
}

.description {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  white-space: pre-wrap;
}